* {
  margin: 0;
  padding: 0;
}

.topHeading {
  margin-bottom: -25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.goMiddle {
  text-align: center;
}

.nav-link.active {
  font-weight: 500 !important;
}